@CHARSET "UTF-8";

.error{
 	display: none;
 	color:red;
 	font-size: 14px;
 	font-style: italic;
 }
 
 .editReport td{
 	width: 100%;
 	padding-right: 10%;
 	padding-bottom: 2%;
 }
 
 .viewReport{
 	max-width: 70%;
 }
 
 .viewReportDropdown{
 	width: 250px;
 }